.Login {
  background-image: url('https://nuevodia.us-chi1.upcloudobjects.com/media/nd/2022/07/10/%C2%A1Ra%CC%81pido-y-fa%CC%81cil-Paga-tu-bolsa-CLAP-desde-el-sistema-Patria-.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
